SSO_LDAP_URI=ldap://10.3.110.120
SSO_LDAP_BASE_DN=dc=erldc,dc=net
SSO_LDAP_DOMAIN=erldc
SSO_LDAP_UPN_DOMAIN=erldc.net
SSO_LDAP_ADMIN_USER=erldc\administrator
SSO_LDAP_ADMIN_PASSWORD=change-me
SSO_EMPLOYEE_API_KEY=change-me
SSO_FRONTEND_SECRET=change-me
SSO_LOGIN_TOKEN_SECRET=change-me
SSO_FINAL_TOKEN_SECRET=change-me
SSO_SESSION_HOURS=5
SSO_LDAP_TIMEOUT_SECONDS=5
SSO_CORS_ORIGINS=*
SSO_DEBUG=false
SSO_LOG_LEVEL=INFO
